@import "@/styles/global";

.hero {
    --_max-width: 550px;

    height: 100vh;
    height: 100svh;
    padding-top: 0;
    @include flex(column, $gap: 1rem);

    .hero_headline {
        max-width: var(--_max-width);
        text-align: center;

        span {
            color: var(--clr-accent);
        }
    }

    &--btn-container {
        @include flex($gap: 1rem);
    }

    @include for-tablet-landscape-up {
        height: 95vh;
        height: 95svh;
    }
}
